@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.ttf") format("truetype");
}


/* Apply globally */
body {
  font-family: "Roboto", sans-serif;
}